body {
  background-color: #E94333;
  overflow: hidden;
  color: #F2F0ED;
}

.right {
  width: 40vw;
  height: 100vh;
  background-color: #E94333;
  position: absolute;
  right: 0px;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  font-family: helvetica, sans-serif;
  bottom: 0;
  z-index: 5;
}

.right h1 {
  width: 100%;
  position: relative;
  font-family: roboto-slab, serif;
  font-size: 7vh;
  top: 0.5vh;
  padding: 0px;
  text-align: center;
}

.right .menu-vd {
  cursor: pointer;
  width: 5vw;
  height: 10vh;
  background-color: #E94333;
  color: #F2F0ED;
  position: absolute;
  left: -5vw;
  top: 5.0vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  z-index: 10;
}

.right .menu-vd:before {
  content: "";
  width: 1.5vw;
  height: 100vh;
  background-color: #E94333;
  border: 23px;
  position: absolute;
  top: -5vh;
  z-index: -1;
  right: 0px;
  cursor: default;
}

.right .menu-vd i {
  font-size: 7vh;
  text-align: center;
  margin: auto;
}

.right .right-bottom {
  width: 100%;
  height: 15vh;
  background-color: #E94333;
  position: absolute;
  bottom: -0.25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right .right-bottom span {
  text-align: center;
  position: absolute;
  top: -3vh;
  font-size: 2vh;
  font-family: roboto-slab, serif;
}

.right .right-bottom ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 2vw;
  font-size: 5vh;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-transform: translate(-1vw);
          transform: translate(-1vw);
}

.right .right-bottom ul li:hover {
  text-shadow: 5px 5px 0px #a41f12;
}

.right .view {
  position: relative;
  top: 0vh;
  right: -1vw;
}

.right .view ul {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(-1.7vh);
          transform: translateY(-1.7vh);
  -ms-flex-line-pack: center;
      align-content: center;
}

.right .view ul li {
  position: relative;
  color: #E94333;
  border-radius: 10vw;
  -webkit-transform: translate(-2.1vw);
          transform: translate(-2.1vw);
  width: 37.5vw;
  list-style-type: none;
  font-family: roboto-slab, serif;
  height: calc(70vh / 5);
  font-size: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
  background-color: #F2F0ED;
  mix-blend-mode: screen;
  margin-bottom: 7vh;
  margin-top: 5vh;
  -webkit-box-shadow: 7px 8px 0px #d22717;
          box-shadow: 7px 8px 0px #d22717;
}

.right .view ul li:hover {
  background-color: #ee6d61;
  color: #F2F0ED;
}

.right .view ul li span {
  margin: auto 0;
}

.translate {
  -webkit-transform: translateX(40vw);
          transform: translateX(40vw);
}

.flickity-enabled {
  width: 40vw;
}

.main-carousel {
  margin-top: 5vh;
  margin-bottom: 5vh;
  left: 100px;
}

.carousel {
  position: absolute;
  top: 25vh;
  margin-bottom: 5vh;
}

.carousel-cell {
  width: 100%;
  height: 40vh;
  margin-right: 10px;
  background: #eb584a;
  border-radius: 5px;
  counter-increment: gallery-cell;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-cell img {
  height: 100%;
}
/*# sourceMappingURL=main.css.map */